{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <style type="text/css">
        .accordion {
            display: block;
        }

        .container a {
            text-decoration: none;
        }

        .hidden-div {
            display: none;
            border-right: 1px solid #bfbfbf;
            border-bottom: 1px solid #bfbfbf;
            border-left: 1px solid #bfbfbf;
            border-top: 1px solid #bfbfbf;
        }

        .show-div {
            border-right: 1px solid #bfbfbf;
            border-bottom: 1px solid #bfbfbf;
            border-left: 1px solid #bfbfbf;
            border-top: 1px solid #bfbfbf;
        }
    </style>
{% endblock %}
{% block title %}
    Home
{% endblock %}

{% block content %}
    <div class="container">
        <h2>This is a Flask Api test application.</h2>
        <hr>
        <a class="accordion" href="#applicationObject">Application Object</a>
        <div class="hidden-div" id="applicationObject">
            <ul>
                <li><a href="{{ url_for('ao.ctx_processor') }}">context_processor</a></li>
            </ul>
        </div>
        <a class="accordion" href="#applicationObject">Blueprint Object</a>
        <a class="accordion" href="#applicationObject">Incoming Request Data</a>
        <a class="accordion" href="#applicationObject">Response Objects</a>
        <a class="accordion" href="#applicationObject">Sessions</a>
        <a class="accordion" href="#applicationObject">Session Interface</a>
    </div>
    <script type="text/javascript">
        $(".accordion").on("click", function () {
            let divId = this.hash.split("#")[1]
            let $div = $("#" + divId)
            if ($div[0].className === "hidden-div") {
                $div.addClass("show-div")
                $div.slideDown(500)
                $div.removeClass("hidden-div")
            } else {
                $div.addClass("hidden-div")
                $div.slideUp(500)
                $div.removeClass("show-div")
            }
        })
    </script>
{% endblock %}