{% extends "base.html" %}
{% block title %}
    context_processor
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h2>Flask.context_processor sample</h2>
        <hr>
        <p>Register a template variable</p>
        <h4>current_time: {{ current_time }}</h4>
        <p>Register a template function</p>
        <h4>today(default): {{ fmt_ct() }}</h4>
        <h4>today('%Y%m%d'): {{ fmt_ct('%Y%m%d') }}</h4>
        <p><a target="_blank"
              href="https://github.com/weijiang1994/flask-api-test/blob/643737084f00d15ae37c78d533040f6a4f715ff8/src/__init__.py#L23">Source
            Code</a></p>
    </div>
{% endblock %}